services:

  app:
    build:
      context: ./localingo
      dockerfile: Dockerfile
    ports:
      - "4567:4567"
    volumes:
      - ./localingo/app.rb:/app/app.rb
      - ./localingo/public:/app/public
      - ./localingo/data:/app/data
    environment:
      - RACK_ENV=development
      - LLM_ENDPOINT=http://host.docker.internal:1234
      - TZ=Asia/Tokyo # Set your timezone
      # Uncomment to disable saving translations
      # 翻訳の保存を無効にする場合はコメントアウトを外してください
      # - SAVE_TRANSLATIONS=false
    extra_hosts:
      - "host.docker.internal:host-gateway"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4567/health"]
      interval: 1m
      timeout: 10s
      retries: 3
    restart: unless-stopped

  # Remove this service if you do not want to expose it externally
  # 外部公開しない場合はこのサービスを削除してください
  tunnel:
    image: cloudflare/cloudflared
    command: tunnel run
    environment:
      TUNNEL_TOKEN: "${TUNNEL_TOKEN}"
      TUNNEL_METRICS: "0.0.0.0:4567"
    restart: unless-stopped
